.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 200px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}



.nav-items > ul >li{
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap; /* Wrap cards to the next row */
    
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 350px;

}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-logo{
    width: 100px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}